body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.productGrid {
  display: grid;
  grid-template-columns: auto;
}

.productBox {
  display: inline-block;
  width: 320px;
  height: 200px;
  border: 5px;
  
  border-radius: 15px;
  box-shadow: 3px 3px 5px 1px #bfbfbf;
  margin: 20px;
}

.ad {
  width: 320px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px 1px #bfbfbf;
  margin: 20px;
}